html, body{
    height: 100vh;
    word-break: break-word;
}
body{
    border:15px solid #e7e6d6;
    background-color: #e7e6d6;
}
.container-fluid{
    padding: 0;
}
.row{
    margin: 15px 0;
}

.mission{
    padding: 6vw 2vw;
}
.mission h1{
    padding-bottom: 3vw;
}
.principals{
    padding: 1vw 0 3vw;
}
.principals h3{
    color:#ff5f41;
}

/* filter */
#filter {
  border: 3px solid #fff;
  padding: 20px 0;
  border-radius: 40px;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, .3);
  background-color: #0f8ab9;
}
#filter ul {
    list-style: none;
    display: inline;
}
@media (max-width:575px){
  #filter ul {
    display: inline-grid;
  }
}
#filter ul li {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
    padding: 5px 10px;
}
#filter ul li a{
  color: #fff;
}
#filter ul li.selected{
  border-bottom: 5px solid #ff5f41;
}

.headline{
  position: absolute;
  margin: auto;
  width: 100%;
  bottom: 18%;
}
.headline a{
  margin: 20px 0;
}

.hp-categories{
    padding: 5vw;
}
.hp-categories .col-sm{
    padding: 5vw 10px;
    text-align: center;
    transition: .3s;
}
.hp-categories .col-sm:hover{
    transform: scale(1.1);
    z-index: 3;
}

.col-sm.hp-web{
    background: #424D79;
}
.col-sm.hp-web:hover{
  background:#424D79 url(/images/hp-web-bg.png);
}
.col-sm.hp-design{
    background: #6379A6;
}
.col-sm.hp-design:hover{
    background: #6379A6 url(/images/hp-design-bg.png);
}
.col-sm.hp-art{
    background: #86A3C3;
}
.col-sm.hp-art:hover{
    background: #86A3C3 url(/images/hp-art-bg.png);
}
/* PAGE MAIN FEATURE STYLES*/
.full-height {
    background-position: center center;
    height: 98vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
    display: block;
}
.feature-art{
    background-image: url(/images/feature-art.jpg);
}
.feature-design{
    background-image: url(/images/feature-design.jpg);
}
.feature-web{
    background-image: url(/images/web-dev-2.gif);
}
svg#arrow{
    width: 149px;
}
.arrow{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

/* GENERAL THEME STYLES */
h1{
    font-size: 4rem;
    font-style: italic;
}
h1, h2{
    font-weight: bold;
    color: #ff5f41;
}
h4 {
    line-height: 1.5;
    font-weight: 200;
    letter-spacing: 1px;
}
button.primary:hover{
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-top: 3px solid #ff5f41;
    border-right: 3px solid #ff5f41;
}
button.primary{
    background-color: #ff5f41;
    border: 3px solid #ff5f41;
    border-radius: 3px;
    padding: 9px 23px;
    font-size: 1.6rem;
    color: #fff;
}
.btn-center{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    justify-content: center;
}
.center{
    text-align: center;
}
.dark{
    background-color: #4e4e4e;
}
.white{
    background-color: #fff;
}
.text-white{
    color: #fff;
}
.principal{
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
    font-style: italic;
    font-weight: bold;
}
.nameplate{
  background-color: #5a524e;
  border-radius: 15px;
  padding: 20px;
}
.col-lg-4,
.col-md-6{
    padding:0;
}
img.logo{
  max-width: 500px;
}
img.logo-caya1{
  max-width: 390px;
}
img.logo-caya2{
  max-width: 762px;
}
img.logo-caya3{
  max-width: 782px;
}
img.logo-blueprint{
  max-width: 587px;
}
img.logo-fruitbat{
  max-width: 738px;
}
img.logo-gambol{
  max-width: 600px;
}
img.logo-slow{
  max-width: 1110px;
}
img.logo-banana{
  max-width: 446px;
}
.project-bg{
  padding: 16vw 24vw;
}
.project-inner{
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
}

.ace-bg{
  background: url(/images/design/ace/ace-bg.jpg) top center/cover;
}
.banzo-bg{
  background: url(/images/design/banzo/banzo-01.jpg) top center/cover;
}
.blueprint-events-bg{
  background: url(/images/design/blueprint-events/blueprint-bg.jpg) top center/cover;
}
.shuk1-bg{
  background: url(/images/design/banzo-shuk/shuk-01.jpg) top center/cover;
}
.shuk2-bg{
  background: url(/images/design/banzo-shuk/shuk-02.jpg) top center/cover;
}
.caya1-bg{
  background: url(/images/design/caya-cox/caya-cox-01.jpg) top center/cover;
}
.caya2-bg{
  background: url(/images/design/caya-cox/caya-cox-02.jpg) top center/cover;
}
.caya3-bg{
  background: url(/images/design/caya-cox/caya-cox-03.jpg) top center/cover;
}
.eg-bg{
  background: url(/images/design/emerald-grove/eg-01.jpg) top center/cover;
}
.gambol-bg{
  background: url(/images/art/the-gambol/gambol-bg.jpg) top center/cover;
}
.roadview-bg{
  background: url(/images/design/roadview/roadview.jpg) top center/cover;
}


.project:hover{
    /*opacity: .7;
    transition: .3s;*/
}

/* HEADER */
.header {
    border: 15px solid #fff;
    border-bottom: 0;
    position: absolute;
    left: -15px;
    top: -15px;
    right: -15px;
    z-index: 999;
    display: block;
}
.shell-fluid {
    max-width: none;
}
.header .logo {
    display: inline-block;
    width: 106px;
    height: 106px;
    position: fixed;
    left: 15px;
    top: 15px;
    overflow: hidden;
    opacity: 1;
    transition: opacity .4s ease;
}
.btn-nav {
    width: 80px;
    height: 80px;
    background-color: #e7e6d6;
    padding: 20px;
    text-align: center;
    line-height: 86px;
    position: fixed;
    right: 0;
    top: 0;
    transition: right .3s ease;
}

/* SLIDE OUT MENU */
svg#closeX{
    height: 15px;
    width: 15px;
}
.slideout-menu {
   position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 0px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity:0;
    background-color: #ff5f41;
    transition: .3s;
    z-index: 30;
}
.nav .nav-head {
    border-bottom: 5px solid #ca5038;
    padding: 24px 26px 22px;
    width: 100%;
}
.nav .nav-head a {
    display: block;
    letter-spacing: .15em;
}
.nav .nav-head a span {
    font-weight: 500;
    font-size: 19px;
    color: #e7e6d6;
}
.nav .nav-head a i {
    float: right;
    margin-right: 16px;
}
.nav .nav-body {
    height: calc(100vh - 90px);
    overflow-y: auto;
    width: 100%;
}
.navtoggle{
    width: 380px;
    transition: .3s;
}
.slideout-open {
    opacity:1;
    transition: .3s;
}
.socials ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.socials li {
    border-bottom: 5px solid #ca5038;
}
.socials a {
    display: block;
    padding: 14px 27px 13px;
    font-weight: 900;
    font-size: 24px;
    color: #e7e6d6;
    text-transform: uppercase;
    letter-spacing: .15em;
    transition: color .4s ease, background-color .4s ease;
}
.socials a i {
    font-size: 20px;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 8px;
}
nav, header{
    display: block;
}
.nav-item{
    cursor: pointer;
}


/* FOOTER STYLES */
footer{
    padding: 10vw 2vw;
    text-align: center;
}


@media(max-width: 767px) and (min-width: 1px){
  .feature-art{
      background-image: url(/images/feature-art-m.jpg);
  }
  .feature-design{
      background-image: url(/images/feature-design-m.jpg);
  }
  .feature-web{
      background-image: url(/images/web-dev-m.gif);
  }
  .project-bg{
    padding: 16vw 8vw;
  }
  .eg-bg{
    background: url(/images/design/emerald-grove/eg-01.jpg) top center/cover;
  }
  h1{
    font-size: 2.6rem;
  }
  h1.project-title{
    margin-top: 112px;
  }
}
@media(max-width:400px) and (min-width:1px){
  .navtoggle{
      width: 320px;
  }
  .slideout-menu{
    z-index: 1000;
  }
}
