<div id="fly-in-menu" off-canvas="slidebar-1 left shift">
  <div class="left-container">
    <div class="slideOut js-close-left-slidebar"><i class="far fa-times-circle"></i></div>
    <ul>
      <a href="#contact"><li>Contact Us</li></a>
      <a href="https://www.toasttab.com/banzo-sherman-ave/v2/online-order#!/" target="_blank"><li>Restaurant Menu</li></a>
      <a href="#menu"><li>Catering</li></a>
    </ul>
    <div class="contact">
      <p>Sun-Mon <em>closed</em></p>
      <p>Tue-Thur 11am - 8pm</p>
      <p>Fri-Sat 11am - 10pm</p>
      <p><i class="fas fa-phone"></i> <tel>(608) 441-2002</tel></p>
    </div>
  </div>
</div>
