<footer class="site-footer">

  <div class="container-xl h-100 align-content-center">
    <div class="row">
      <div class="col-12 text-center">
        <a id="email-btn" class="btn btn-light" href="#">Get in touch</a>
        <noscript>Please enable JavaScript to get in touch</noscript>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

  <script src="/js/my.js"></script>

</footer>
