<header class="header">
	<div class="container-xl">
		<div class="row">
			<div class="col-12">
				<nav class="navbar navbar-expand">
					<div class="container-fluid">
						<a class="navbar-brand" href="/">Alex Wahlberg</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
							data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
							<div class="navbar-nav">
								<a class="nav-link" href="/#intro">About</a>
								<a class="nav-link" href="/#skills">Skills</a>
								<a class="nav-link" href="/#work">Work</a>
							</div>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>