<html>

	{% include head.html %}

	<body>
		{% include side-nav.html %}
		<div class="container-fluid center">
			{% include header.html %}
			<div>
				{{content}}
			</div>
		</div>
		<div class="container">
			<div class="col">
				<div id="thumbnails" class="row">

					<div class="row">
					{% for project in site.work %}

						<div class="col-lg-4 col-md-6 project">
							<a href="{{site.baseurl}}/work/{{project.slug}}/"><img src="{{site.baseurl}}/images/{{project.images}}" width="100%"></a>
						</div>

					{% endfor %}
					</div>

				</div>
			</div>
		</div>

	{% include footer.html %}
	</body>
</html>
